.botao{
    background-color: #6278F7;
    width: 10rem;
    height: 5rem;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: 0.652rem;
    margin: 2rem 0;
    cursor: pointer;
}

.botao:hover{
    color: #95FFD4;
}